.signupmain { text-align: center
}
.loginorsignup{
    font-size: 10pt;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.btn {
    padding: 10px 20px;
    font-size: 16px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 5px;
}

.signup-btn {
    background-color: #4CAF50;
}

.cancel-btn {
    background-color: #f44336;
}

.container {
    width: 900px;               
    margin: 50px auto;          
    padding: 20px;              
    border: 2px solid black;    
    border-radius: 10px;        
    background-color: #f9f9f9;  
    }